<!doctype html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Discover Brazil</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="static/css/fontawesome.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/flags.css">
<link href="static/css/select2.min.css" rel="stylesheet"/>
<style>
.form-group {
    margin-bottom: 25px;
}
</style>
  </head>
  <body class="travel-bg">
<header>
  <div class="container">
		   <div class="row">
		     <nav class="navbar navbar-expand-lg fixed-top" >

  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
  </button-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item lang">
       <div class="selectpicker"
                         data-input-name="country3"
                         data-selected-country="BR"
                         data-button-size="btn-lg"
                         data-button-type="btn-warning"
                         data-scrollable="true"
                         data-scrollable-height="250px"
                         data-countries='{"BR": "Brazil"}'>
                    </div>
      </li>

    </ul>
	<ul class="navbar-nav mr-auto ml-auto">
	<li class="logo">
	 <a class="navbar-brand" href="#">
         <img src="static/img/logo.png"/>
      </a>
	  </li>
	</ul>
       <ul class="navbar-nav ml-auto">
     <li class="nav-item">
        <a class="nav-link" href="tel: +1-206-963-2639">Lets’ Chat</a>
      </li>
	  </ul>

  </div>
</nav>
		   </div>
   </div>
</header>
   <section class="traveller">
	   <div class="container">
		   <div class="row">
		        <!-- multistep form -->
<div id="msform" class="travelform" action="javascript:void(0)">
	<!--h2 class="heading">Travelier: <strong> Trip Planner</strong> (Questions and Answers)</h2-->
  <!-- progressbar -->



	<!-- progressbar -->
	<div class="inline slider single-item">
	<div class="travel-step">
	<div class="headings-top">
		   <h3>Customized experience. Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h3 class="fs-title">Question 1</h3-->
		<h3 class="fs-subtitle"><!--span>Q</span-->How are you traveling?</h3>
        <div class="questions-travel">
		      <div class="row">
				 	  <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                         <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="static/img/solo1.png"/>

                          </div>
				  <h3 class="title">Solo</h3>
				  </div>
				 	  <div class="col-lg-3 col-md-6 col-sm-6 col-6">
<div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="static/img/couple1.png"/>

                          </div>
					   <h3 class="title">Couple</h3>
				  </div>
				 	  <div class="col-lg-3 col-md-6 col-sm-6 col-6">
<div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="static/img/friends1.png"/>

                          </div>
					  <h3 class="title">Friends</h3>
				  </div>
					  <div class="col-lg-3 col-md-6 col-sm-6 col-6">
<div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="static/img/family1.png"/>

                          </div>
					 <h3 class="title">Family</h3>
				  </div>
			  </div>
		</div>
		<div class="footer-btns">
		<input type="button" id="next-btn" name="next" class="next action-button  actionbtn next1" value="Next" data-role="none" class="" aria-label="Next" role="button" />
	    </div>
	</div>
	<div class="travel-step">
	<div class="headings-top">
		   <h3>Customized experience. Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 2</h2-->
		<h3 class="fs-subtitle"><!--span>Q</span-->What type of experience would you like?
</h3>
          <div class="questions-travel">
            <div class="row">
				   <div class="col-lg-3 col-md-6 col-sm-6 col-6">
 <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/beach1.png"/>
								  <h3 class="title">Beaches and Sun</h3>
                          </div>

				  </div>
				   <div class="col-lg-3 col-md-6 col-sm-6 col-6">
 <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/nature1.png"/>
								  <h3 class="title">Nature and Wildlife</h3>
                          </div>

				  </div>
				  <div class="col-lg-3 col-md-6 col-sm-6 col-6">
 <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/culture1.png"/>
								  <h3 class="title">Culture/UNESCO</h3>
                          </div>

				  </div>
				    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/sports1.png"/>
								  <h3 class="title">Sports and Recreation</h3>
                          </div>

				  </div>

			  </div>
			</div>
		<div class="footer-btns">
		<input type="button" name="previous" class="previous actionbtn action-button prev2" value="Previous" />
		<input type="button" data-toggle="modal" data-target="#modal1" name="next" class=" action-button next2" value="Next" />
	</div>
	</div>
	<!--div class="travel-step">
		<div class="headings-top">
		   <h3>Customized <strong>experience.</strong>  Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<div class="questions-travel">
            <div class="row">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="travel-map">
					   <img  src="img/gmap.png"/>
				  </div>
				  </div>
					  <div class="col-lg-6 col-md-6 col-sm-6">
							<div class="content-map text-center">
<img src="img/other1.png"/>
							<p>

												Did you know the Amazon produces more than 20% of the world’s oxygen?
							</p>
				  </div>
				  </div>

			  </div>
			</div>

		<input type="button" name="previous" class="previous action-button prev3" value="Previous" />
		<input type="button" name="next" class="next noactionbtn action-button next3" value="Next" />
	</div-->
	<div class="travel-step">
	<div class="headings-top">
		   <h3>Customized experience.  Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 4</h2-->
		<h3 class="fs-subtitle"><!--span>Q</span--->Have you purchased your flights?</h3>
<div class="questions-travel">
            <div class="row justify-content-center">
				 	  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                     <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/yes.jpg"/>
								  <h3 class="title">Yes</h3>
                          </div>
				  </div>
				 	  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
 <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/no.jpg"/>
								  <h3 class="title">No</h3>
                          </div>
				  </div>

			</div>
			</div>
			<div class="footer-btns">
		<input type="button" name="previous" class="previous action-button prev3" value="Previous" />
		<input type="button" name="next" class="nexts action-button next3" value="Next" />
</div>
</div>
<div class="travel-step">
<div class="headings-top">
		   <h3>Customized experience. Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 5</h2-->
		<h3 class="fs-subtitle"><!--span>Q</span-->Great.  Tell us your dates!</h3>
  <div class="questions-travel">
            <!--div class="row justify-content-center"-->

			    <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
            <div class="row">
			  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
			     <div class="form-group mar-mob-0">
				     <label class="float-left">Arrival in Brazil:</label>
					 <div class="input-group">
					   <input type="text" class="form-control datepicker"/>

					 </div>
				 </div>
			  </div>
			  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
			     <div class="form-group">
				      <label class="float-left"></label>
					 <div class="input-group">
					   <select  class="form-control select2 ">
					       <option>Select</option>
					      <option>Rio (RIO)</option>
					       <option>Sao Paulo (GRU)</option>
					       <option>Other</option>
					       <option>Not Yet Determined</option>
					   </select>

					 </div>
				 </div>
				 </div>
				  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
			     <div class="form-group mar-mob-0">
				     <label class="float-left">Departure From Brazil:</label>
					 <div class="input-group">
					  <input type="text" class="form-control datepicker"/>

					 </div>
				 </div>
			  </div>
			  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
			     <div class="form-group">
				     <label class="float-left"></label>
					 <div class="input-group">
					   <select  class="form-control select2 ">
					       <option>Select</option>
					       <option>Rio (RIO)</option>
					       <option>Sao Paulo (GRU)</option>
					       <option>Other</option>
					       <option>Not Yet Determined</option>
					   </select>

					 </div>
				 </div>
				 </div>
				 </div>
			  </div>

			</div>
			<div class="footer-btns">
		<input type="button" name="previous" class="previouss action-button prev4" value="Previous" />
		<input type="button" name="next" class="next action-button next4" value="Next" />
	</div>
	</div>
	<div class="travel-step">
	<div class="headings-top">
		   <h3>Customized experience. Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 6</h2-->
		<h3 class="fs-subtitle"><!--span>Q</span-->When would you like to go?</h3>
			<div class="questions-travel">
            <div class="row">
				 	  <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/1month.jpg"/>
								  <h3 class="title">Within 1 Month</h3>
                          </div>
				  </div>
					  <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                         <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/1-4month.jpg"/>
								  <h3 class="title">1-4 months</h3>
                          </div>
				  </div>
					  <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                         <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/4+month.jpg"/>
								  <h3 class="title">4+ months</h3>
                          </div>
				  </div>
					  <div class="col-lg-3 col-md-6 col-sm-6  col-6">
 <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/notsure.jpg"/>
								  <h3 class="title">Not Sure</h3>
                          </div>
				  </div>
			  </div>
			</div>
		<div class="footer-btns">
		<input type="button" name="previous" class="previous action-button prev5" value="Previous" />
		<input type="button" name="next" class="next action-button next5"  value="Next" />
	</div>
	</div>
	<div class="travel-step">
	<div class="headings-top">
		   <h3>Customized experience. Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 7</h2-->

		<h3 class="fs-subtitle"><!--span>Q</span-->How long are you thinking?</h3>
			<div class="questions-travel">
            <div class="row">
				 	  <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                      <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/1week.jpg"/>
								  <h3 class="title">1 Week</h3>
                          </div>
				  </div>
					  <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                         <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/2week.jpg"/>
								  <h3 class="title">2 Weeks</h3>
                          </div>
				  </div>
					  <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                         <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/3-4week.jpg"/>
								  <h3 class="title">3-4 Weeks</h3>
                          </div>
				  </div>
					  <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                   <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/4+week.jpg"/>
								  <h3 class="title">4+ Weeks</h3>
                          </div>
				  </div>
			  </div>
			</div>
<div class="footer-btns">
		<input type="button" name="previous" class="previous action-button prev6" value="Previous" />
		<input type="button" name="next"  data-toggle="modal" data-target="#modal2" class=" action-button next6" value="Next" />

	</div>
	</div>
	<!---div class="travel-step">
		<div class="headings-top">
		   <h3>Customized <strong>experience.</strong>  Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<div class="questions-travel">
            <div class="row">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="travel-map">
					   <img  src="img/gmap.png"/>
				  </div>
				  </div>
					  <div class="col-lg-6 col-md-6 col-sm-6">
							<div class="content-map text-center">
<img src="img/other1.png"/>
							<p>

												Did you know Brazil is the 5th largest country in the world with over 210 million inhabitants?
							</p>
				  </div>
				  </div>

			  </div>
			</div>

		<input type="button" name="previous" class="previous action-button prev8" value="Previous" />
		<input type="button" name="next" class="next action-button next8" value="Next" />
	</div--->
	<div class="travel-step">
	<div class="headings-top">
		   <h3>Customized experience.  Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 8</h2-->
		<h3 class="fs-subtitle"><!--span>Q</span-->Any must see locations in Brazil?</h3>
              <div class="questions-travel">
            <div class="row">
				   <div class="col-lg-3  col-md-6 col-sm-6 col-6">
				    <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/location1.png"/>
								  <h3 class="title">Rio de Janiero</h3>
                          </div>
				  </div>
				  <div class="col-lg-3  col-md-6 col-sm-6  col-6">
                        <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/location2.png"/>
								  <h3 class="title">Bahia</h3>
                          </div>
				  </div>
					   <div class="col-lg-3  col-md-6 col-sm-6  col-6">
                            <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/location3.png"/>
								  <h3 class="title">Iguazu Falls</h3>
                          </div>
				  </div>
					   <div class="col-lg-3  col-md-6 col-sm-6  col-6">
                           <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/location4.png"/>
								  <h3 class="title">Manaus (Amazon)</h3>
                          </div>
				  </div>
			  </div>
			</div>
	   <div class="footer-btns">
		<input type="button" name="previous" class="previous action-button prev7" value="Previous" />
			<input type="button" name="next" class="next action-button prev7" value="Next" />
	</div>
	</div>
<div class="travel-step">
<div class="headings-top">
		   <h3>Customized experience. Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 9</h2-->
		 <h3 class="fs-subtitle"><!--span>Q</span-->What type of hotel do you prefer?</h3>
              <div class="questions-travel">
            <div class="row">
				   <div class="col-lg-3  col-md-6 col-sm-6  col-6">
				    <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/eco1.png"/>
								  <h3 class="title">Chic/Boutique</h3>
                          </div>
				  </div>
				  <div class="col-lg-3  col-md-6 col-sm-6  col-6">
                        <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/cozy1.png"/>
								  <h3 class="title">Cozy Bed & Breakfast</h3>
                          </div>
				  </div>
					   <div class="col-lg-3  col-md-6 col-sm-6  col-6">
                            <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/upscale1.png"/>
								  <h3 class="title">Upscale Resorts</h3>
                          </div>
				  </div>
					   <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                           <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/luxurious1.png"/>
								  <h3 class="title">Luxury Private Home
</h3>
                          </div>
				  </div>
			  </div>
			</div>

<div class="footer-btns">
		<input type="button" name="previous" class="previous action-button prev8" value="Previous" />
		<input type="button" name="next" data-toggle="modal" data-target="#modal3" class=" action-button next8" value="Next" />

	</div>
	</div>
	<!---div class="travel-step">
		<div class="headings-top">
		   <h3>Customized <strong>experience.</strong>  Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<div class="questions-travel">
            <div class="row">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="travel-map">
					   <img  src="img/gmap.png"/>
				  </div>
				  </div>
					  <div class="col-lg-6 col-md-6 col-sm-6">
							<div class="content-map text-center">
<img src="img/other1.png"/>
							<p>

												Did you know that Brazil’s currency is called the “Real”?  Also, $1 USD = ~4.2 Reals (approx.)
							</p>
				  </div>
				  </div>

			  </div>
			</div>

		<input type="button" name="previous" class="previous action-button prev11" value="Previous" />
		<input type="button" name="next" class="next action-button next11" value="Next" />

	</div-->

	<div class="travel-step">
	<div class="headings-top">
		   <h3>Customized experience. Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 10</h2-->
		 <h3 class="fs-subtitle"><!--span>Q</span-->What is your total budget (excluding flights)?</h3>
              <div class="questions-travel">
            <div class="row">
				   <div class="col-lg-3  col-md-6 col-sm-6  col-6">
				    <div class="travel-img">
						 <div class="radio">
						   <input type="radio"  name="radio"/>
						   <img class="img-tick imgtick" src="static/img/tick.png"/>
						   <img class="img-tick" src="img/notick.png"/>
						 </div>
                                 <img  src="img/classic1.png"/>
								  <h3 class="title">Classic (Under $2000)</h3>
                          </div>
				  </div>
				  <div class="col-lg-3  col-md-6 col-sm-6  col-6">
                        <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/boutique1.png"/>
								  <h3 class="title">Boutique ($2000-$3000)</h3>
                          </div>
				  </div>
					   <div class="col-lg-3  col-md-6 col-sm-6  col-6">
                            <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/exclusive1.png"/>
								  <h3 class="title">Exclusive ($3000-$5000)</h3>
                          </div>
				  </div>
					   <div class="col-lg-3 col-md-6 col-sm-6  col-6">
                           <div class="travel-img">
							 <div class="radio">
							   <input type="radio"  name="radio"/>
							   <img class="img-tick imgtick" src="static/img/tick.png"/>
							   <img class="img-tick" src="img/notick.png"/>
							 </div>
                                 <img  src="img/luxury1.png"/>
								  <h3 class="title">Luxury  (Over $5000)</h3>
                          </div>
				  </div>
			  </div>
			</div>
		<div class="footer-btns">

		<input type="button" name="previous" class="previous action-button prev9" value="Previous" />
			<input type="button" name="next" class="next action-button  next9" value="Next" />

	</div>
	</div>

	<div class="travel-step">
		<div class="headings-top">
		   <h3>Customized experience.  Just for you.</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 11</h2-->
		 <h3 class="fs-subtitle"><!--span>Q</span-->Any additional information you’d like to tell us?</h3>
              <div class="questions-travel">
            <div class="row justify-content-center">
			    <!--div class="col-lg-4 col-md-4 col-sm-12">
			     <div class="travel-date">
				   <img src="img/information.png"/>
				 </div>
			  </div-->
				   <div class="col-lg-6  col-md-12 col-sm-12">
				     <div class="form-group">
					 <textarea maxlength="250" rows="6" class="form-control" placeholder="Any additional information..."></textarea>
					 <!--span class="note-text">Please Enter Words Not More Than 250 word limit</span-->
				  </div>


				  </div>
			  </div>
			  </div>

		<div class="footer-btns">

		    <input type="button" name="previous" class="previous action-button prev10" value="Previous" />
			<input type="button" name="next"  data-toggle="modal" data-target="#modal4" class="nexthide action-button next10" value="Next" />


	</div>
	</div>
	<!---div class="travel-step">
			<div class="headings-top">
		   <h3>We’re creating your customized <strong>experience.</strong></h3>
		   <h5>All based on the info you provided.</h5>
		</div>
		<div class="questions-travel">
            <div class="row justify-content-center">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="travel-map">
					   <img  src="img/gmap.png"/>
				  </div>
				  </div>

			  </div>
			</div>

		<input type="button" name="previous" class="previous action-button prev11" value="Previous" />
		<input type="button" name="next" class="next action-button next11" value="Next" />

	</div-->
	<div class="travel-step">
	<div class="headings-top">
		   <h3>We’ve created your perfect trip to Brazil!</h3>
		   <h5>Tell us what you’re into and we’ll do the rest.</h5>
		</div>
		<!--h2 class="fs-title">Question 12</h2-->
		<h3 class="fs-subtitle"><!--span>Q</span-->Where should we send your trip details?</h3>
  <div class="questions-travel trip-detail">
            <!--div class="row justify-content-center"-->
            <div class="row justify-content-center">

			    <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="row">
			  <div class="col-lg-12 col-md-12 col-sm-12">
			     <div class="form-group">
					 <div class="input-group">
					   <input type="text" class="form-control" placeholder="First Name"/>

					 </div>
				 </div>
			  </div>
			  <div class="col-lg-12 col-md-12 col-sm-12">
		  <div class="form-group">
					 <div class="input-group">
					   <input type="text" class="form-control" placeholder="Last Name"/>

					 </div>
				 </div>
				 </div>
				   <div class="col-lg-12 col-md-12 col-sm-12">
			     <div class="form-group">
					 <div class="input-group">
					   <input type="text" class="form-control"  placeholder="Email Address"/>

					 </div>
				 </div>
			  </div>
			  <div class="col-lg-12 col-md-12 col-sm-12">
		              <div class="form-group">
					 <div class="input-group">
					   <input type="text" class="form-control"  placeholder="Phone Number"/>

					 </div>
				 </div>
				 </div>
				 	  <div class="col-lg-12 col-md-12 col-sm-12">
				 <button type="button" class="next  btn-trip" >Next</button>
				 </div>
				 </div>
			  </div>
			  </div>
			</div>
		<!--input type="button" name="previous" class="previous action-button prev15" value="Previous" /-->

	</div>
	<div class="travel-step">
		<div class="headings-top">
		   <h3>We’re sending your  trip.  Check your inbox in a few.</h3>
		   <h5>Our Brazil Travel Expert will call you shortly.</h5>
		</div>
		<div class="questions-travel">

            <div class="row justify-content-center">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
					  <div class="thankyou text-center">
					    <!--img src="static/img/tick.png"/-->
					    <h5>Thank You.</h5>
					  </div>
                           <div class="travel-map travel-map1">
					   <img  src="img/map11.png"/>
				  </div>
				  </div>

			  </div>
			</div>

		<!--input type="button" name="previous" class="previous action-button prev16" value="Previous" />

			<input type="submit" name="submit" class="submit action-button next16" value="Submit" /-->

	</div>
</div>
<div class="progressbar">
  <div class="row">
  <div class="col-lg-2 hide-below text-center">
     <h2>Your Journey Begins Here!</h2>
  </div>
  <div class="col-lg-8 col-md-12">
	<ul id="progressbar">
	<!-- <li data-target="0"  class="active d-none"> -->
			<!-- <img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/> -->
		<!-- </li> -->
		<li data-target="0"  class="active" style="display:none!important">
			<img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/>
		</li>
		<li data-target="0" >
			<img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/>
		</li>
		<li data-target="1">
			<img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/>
		</li>
		<li data-target="2"><img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/></li>
		<li data-target="3"><img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/></li>
		<li data-target="4"><img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/></li>
		<li data-target="5"><img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/></li>
		<li data-target="6"><img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/></li>
		<li data-target="7"><img class="rotate foot-fill" style="display:none" src="static/img/002-footprints-1.png"/><img class="rotate foot-unfill" src="static/img/001-footprints.png"/></li>
	</ul>
</div>
  <div class="col-lg-2   hide-below text-center">
    <h2>Take Off!</h2>
  </div>
</div>
</div>
</div>
		   </div>
	   </div>
   </section>

   <div class="modal fade " id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body ">   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
		<div class="questions-travel">
        <div class="row">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="travel-map text-center">
					   <img src="img/map11.png">
				  </div>
				  </div>
					  <div class="col-lg-6 col-md-6 col-sm-6">
							<div class="content-map text-center">
                                  <img src="img/other1.png">
							<p>

												Did you know the Amazon produces more than 20% of the world’s oxygen?
							</p>
				  </div>
				  </div>

			  </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary next">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body ">   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
		<div class="questions-travel">
       <div class="row">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="travel-map text-center">
					   <img  src="img/map11.png"/>
				  </div>
				  </div>
					  <div class="col-lg-6 col-md-6 col-sm-6">
							<div class="content-map text-center">
<img src="img/other1.png"/>
							<p>

												Did you know Brazil is the 5th largest country in the world with over 210 million inhabitants?
							</p>
				  </div>
				  </div>

			  </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary next">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade " id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body ">   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
		<div class="questions-travel">

	     <div class="row">
				  	  <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="travel-map text-center">
					   <img  src="img/map11.png"/>
				  </div>
				  </div>
					  <div class="col-lg-6 col-md-6 col-sm-6">
							<div class="content-map text-center">
<img src="img/other1.png"/>
							<p>

												Did you know that Brazil’s currency is called the “Real”?  Also, $1 USD = ~4.2 Reals (approx.)
							</p>
				  </div>
				  </div>

			  </div>



      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary next">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body ">   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
		<div class="questions-travel">

	     <div class="row justify-content-center">
				  	  <div class="col-lg-10 col-md-12 col-sm-12">
                           <div class="travel-map text-center">
					   <img  src="img/map11.png"/>
				  </div>
				  </div>

			  </div>


      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary next">Ok</button>
      </div>
    </div>
  </div>
</div>
   <!--footer class="footer">
	   <div class="container">
		   <div class="row justify-content-center">
		   <p>&copy; Copyright 2019 The Travelier. All Rights Reserved</p>
		   </div>
	   </div>
   </footer-->
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.flagstrap.js"></script>
	<script src="static/js/jquery.easing.min.js" type="text/javascript"></script>
	<script  src="static/js/main.js"></script>
	<script  src="static/js/slick.js"></script>
	<script  src="static/js/bootstrap-datepicker.js"></script>
      <script src="static/js/select2.min.js"></script>
	 <script>
	 $(function() {
  var $select = $('.select2');

  $select.select2({
    theme: 'paper'
  });
});
	 </script>
  </body>
</html>